body {
  padding: 0;
  margin: 0;

  font-family: sans-serif;
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 1em;
}

#footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: right;
  z-index: 1000;
  padding: 1em;
}

a {
  color: #999;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: underline;
}
